{{> header }}

  <nav class="navbar is-transparent is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <i class="fas fa-utensils fa-3x"></i>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">

      <div class="navbar-end">
        <a href="/" class="navbar-item">Home</a>
        {{#if user}}
          <a href="/profile" class="navbar-item">Profile</a>
          <a href="/auth/logout" class="navbar-item">Logout</a>
        {{else}}
          <a href="/auth/login" class="navbar-item">Login</a>
        {{/if}}
      </div>
    </div>
  </nav>

  <section class="hero has-text-centered">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Asian Munchies Worldwide
        </h1>
        <h2 class="subtitle">
          A restaurant finder for my favourite cuisines
        </h2>
      </div>
    </div>
  </section>

  <form id="search-form">
    <div class="field is-grouped is-grouped-centered">
      <div class="control">
        <div class="select is-medium">
          <select id="cuisine-type">
            <option value="Chinese">Chinese</option>
            <option value="Japanese">Japanese</option>
            <option value="Korean">Korean</option>
            <option value="Thai">Thai</option>
          </select>
        </div>
      </div>
      <div class="field has-addons">
        <div class="control">
          <input class="input is-medium" type="text" placeholder="postcode" id="postcode">
        </div>
        <div class="control">
          <button type="submit" class="button is-info is-medium">Search</button>
        </div>
      </div>
    </div>
  </form>

  <section class="section">
    <div class="container is-fluid" id="main-body">
      <div class="columns is-multiline">
        <!-- Append Content here -->
      </div>
    </div>
  </section>
  <script src="/js/main.js" charset="utf-8"></script>

{{> footer }}
