<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Asian Food In London</title>
  <link rel="stylesheet" href="/css/bulma.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>

  <section class="hero has-text-centered">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Asian Food In London
        </h1>
        <h2 class="subtitle">
          A restaurant finder for my favourite cuisines in this city
        </h2>
      </div>
    </div>
  </section>

  <form id="search-form">
    <div class="field is-grouped is-grouped-centered">
      <div class="control">
        <div class="select is-medium">
          <select id="cuisine-type">
            <option value="Chinese">Chinese</option>
            <option value="Japanese">Japanese</option>
            <option value="Korean">Korean</option>
            <option value="Thai">Thai</option>
          </select>
        </div>
      </div>
      <div class="field has-addons">
        <div class="control">
          <input class="input is-medium" type="text" placeholder="postcode" id="postcode">
        </div>
        <div class="control">
          <button type="submit" class="button is-info is-medium">Search</button>
        </div>
      </div>
    </div>
  </form>

  <section class="section">
    <div class="container is-fluid">
      <div class="columns is-multiline">
        <div class="column is-one-quarter">
          <article class="card">
            <header class="card-header">
              <p class="card-header-title">Super Ramen</p>
              <p class="card-header-icon">Avg. Rating: 4</p>
              <p class="card-header-icon">100 reviews</p>
            </header>
            <div class="card-image is-centered">
              <figure class="image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Ajisen_ramen_shop_by_liuxia_in_Shenzhen%2C_China.jpg" alt="Restaurant Image">
              </figure>
            </div>
            <section class="card-content">
              <div class="content">
                <address>
                  Beechwood Road,<br>
                  Flat 48 Fuse Building,<br>
                  E8 3DY
                </address>

              </div>
              <p>Cost</p>
              <p>stuff</p>
              <p>more stuff</p>
            </section>
          </article>
        </div>
      </div>
    </div>
  </section>

  <script src="/js/main.js" charset="utf-8"></script>
</body>
</html>
