{{> header }}

<section class="section">
  <h1 class="title has-text-centered">Login Page</h1>
  <h3 class="subtitle has-text-centered">Login to your user profile</h1>
  <div class="container">
    <div class="box has-text-centered">
      <a class="button is-danger is-centered" href="/auth/google">Google+</a>
      <a class="button is-light" href="/">Back To Homepage</a>
    </div>
  </div>
</section>

{{> footer }}
